
#---  Sublime ide filese
*.sublime-workspace
*.sublime-project

#---  Work documents for project
/docs/ 

#---  Work directories
/uploads/ 
/Log/ 
/Assets/ 

#---  Work files
*.cnf
*.dmp

#--- archives in current folder
/*.arj
/*.zip
/*.rar
